/.idea/
/cmake-build-debug/
.DS_Store
./venv/
#/stats/
./stats/
/stats/baco2/
/stats/direct-encoding/
/stats/indirect-encoding/
/stats/without-confsel-direct/
/stats/without-confsel-indirect/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

